# dw this is meant to be public, i didn't just upload api keys to main
EXPO_PUBLIC_SUPABASE_URL=https://iugsecfzgsmmgbbgtbvf.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1Z3NlY2Z6Z3NtbWdiYmd0YnZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ3MjA2NjgsImV4cCI6MjA2MDI5NjY2OH0.mfUUQg8B_HzUwxAxbYEGQqQ_Xz3Pc4WST1UakLGZgAc